body {
    font-family: sans-serif;
}

.paragraph {
    color: #1F3F68;
    font-size: 16px;
    line-height: 26px;
}

.headIndex__h1 {
    color: #1F3F68;
    font-size: 64px;
}

.headContactUs__h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.headIndex__h3 {
    font-size: 36px;
    text-align: center;
}

.headContactUs__h3 {
    font-size: 36px;
    text-align: center;
}

.headContactUs__h4 {
    color: #1F3F68;
    font-size: 20px;
    line-height: 30px;
}

.inputContactUs {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.btnSbmtContactsUs {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}