* {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

--------------------------------------------------------------------------------------------------------------------

/*index style*/
.header__content {
    border: 1px solid purple;
}

.site_menu {
    border: 1px solid green;
}

.info_under_menu {
    border: 1px solid blue;
}

.ium_heading {
    max-width: 510px;
}

.text_under_menu {
    max-width: 425px;
}

.hc_container {
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
}

.help_client {
    border: 1px solid purple;
}

.hc_list_help {
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc_block {
    border: 1px solid blue;
    width: 359px;
}

.work_examples {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.footer_container {
    align-items: center;
    justify-content: center;
}

.footer_top {
    border: 1px solid yellow;
}

.footer_top_interested {
    border: 1px solid red;
    max-width: 340px;
}

.footer_bottom {
    border: 1px solid yellow;
}

.footer_info {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.footer_bottom_rights_reserved {
    border: 1px solid red;
    max-width: 495px;
}

/*contactsUs style*/

.heading-contacts {
    text-align: center;
}

.contacts-header {
    border: 1px solid red;
}

.contacts-info {
    border: 1px solid blue;
}

.form_for_contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    border: 1px solid black;
}